*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    width: 300px;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}
.sidebar-nav{
    background: #111111;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 10px;
}
.sidebar-nav .logo{
    width: 120px;
}
.sidebar-nav .logo img{
    width: 100%;
}
.sidebar-nav ul{
    list-style: none;
}
.sidebar-nav ul li{
    padding: 10px 20px;
}
.sidebar-nav ul li a:hover{
    color: white;
}
.sidebar-nav ul li a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}
.sidebar-nav ul li a i{
    font-size:  20px;
    margin-right: 10px;
}
.sidebar-nav i{
    background: #111111;
}
.sidebar-nav .logo{
    width: 120px;
}
.sidebar-nav .logo img{
    width: 100%;
}
.library::after{
    content: '+';
    float: right;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;  
}
.create-playlist{
    background: white;
    padding: 30px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sidebar-scroll{
    height: 120px;
    overflow-y: auto;
}
.sidebar-scroll::-webkit-scrollbar{
   background: transparent;

}
.sidebar-scroll::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
 }
 .sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: white;
    width: 5px;
 }

 .Create-playlistt h4{
    color: white;
    font-size: 15px;

 }
 .Create-playlist p{
    color: white;
    font-size: 12px;
    margin: 12px 0;
}
.Create-playlist button{
    padding: 8px 20px;
    border: 0;
    outline: 0;
    border-radius: 200px;
    font-weight: 600;
    margin-bottom: 10px;
} 
.privacy ul li a{
    text-decoration: none;
    color: #575656;
    font-size: 11px;
    font-weight: 600;
    margin: 0 6px;
}
.privacy ul li a:hover{
    text-decoration: underline;
   color: #2e2e2e;
}
.privacy ul{
    list-style: none;
    margin-top: 20px;
}
.privacy ul li{
    padding: 0 12px;
    padding-bottom: 8px;
}
.eng-btn{
    padding: 20px 30px;
}
.eng-btn button{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 20px;
    margin: 20px 0;
}
.eng-btn button:hover{
    padding: 11px 5px;
    border: 1px solid white;

}

.main-section{
    margin-left: 300px;
    background-color: #0c0c0c;
    height: 100vh;
    overflow: auto;
}
.main-section .top-nav{
    padding: 20px 30px;
    background: #181818;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-section .top-nav button{
    background: transparent;
    border: 0;
    outline: 0;
}

.main-section .top-nav .prev-btn button i{ 
   color: #a89898;
   font-size: 22px;
   margin-right: 40px;
}
.top-nav .login-btn .sign-up{
    color: #838181;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}
.top-nav .login-btn .sign-up:hover{
    color: white;
}
.top-nav .login-btn .login{
    color: #838181;
    font-size: 16px;
    font-weight: 600;
    background: white;
    padding: 10px 15px;
    border-radius: 20px;
}
.top-nav .login-btn .login:hover{
    color: #f3f3f3;

}
.spotify-playlist{
    padding: 20px 40px;

}
.spotify-playlist h2{
color: white;
font-size: 22px;
margin-bottom: 20px;
}
.spotify-playlist .card{
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.spotify-playlist .card .item{
    width: 190px;
    min-width: 140px;
    background-color: #181818;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
}
.spotify-playlist .card .item:hover{
    background-color: black;
  
}
.spotify-playlist .card .item img{
    width: 100%;
    border-radius: 2px;
    margin-bottom: 10px;
}
.spotify-playlist .item h4{
    color: rgb(92, 90, 90);

}
.spotify-playlist .item p{
    color: rgb(163, 155, 155);
    font-size: 13px;
    margin-top: 10px;
}
.spotify-playlist .item p:hover{ 
   text-decoration: underline;

}
.spotify-playlist .play-btn{
    position: relative;
}
.spotify-playlist .play-btn i{
    position: absolute;
    background: green;
    border-radius: 48%;
    padding: 14px;
    right: 10px;
    top: -40px;
    opacity: 0;
    transform: 0.3s;
}
.spotify-playlist .card .item:hover .play-btn i{
    opacity: 1;
    transform: translateY(-20px);
}
.footer-section{
    padding: 20px 40px;

}
.footer-section .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-section .footer .footer-links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-section .footer .footer-links .footer-column{
   margin: 0 12px;

}
.footer-section .footer .footer-links div{
    color: white;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px; 
 }
 .footer-section .footer .footer-links ul li{
   list-style: none;
   margin: 6px 0;
 }
.footer-section .footer .footer-links ul li a{
    text-decoration: none;
    color: #969393;
    font-size: 14px;
    cursor: pointer;
  } 
.footer-section .footer .footer-links li a:hover{
   text-decoration: underline;
   color: white;
  }

.footer .social-links i{
    color: white;
    background: #353434;
    padding: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;

}
.footer .social-links i:hover{
   background: #353435;


}
.hr{
    margin: 20px 40px;
    border: 0;
    outline: 0;
    border: 1px solid gray;
    margin-top: 40px;

}
.copyright{
    padding: 0 40px;
    color: #969393;
    font-size: 15px;
    margin-bottom: 30px;
}
.preview{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ae2896, #509bf5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 40px;
}
.preview h4{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}
.preview p{
    font-size: 16px;
    font-weight: 400;
   
    color: white;
}
.preview button{
   padding: 12px 30px;
   border: 0;
   outline: 0;
   border-radius: 20px;
   font-size: 14px;
   font-weight: 600;
   color: black;
}








